body {
    background-image: url("images/body-background.png");
    background-repeat: repeat;
}
a {
	text-decoration: none;
	color: black;
	text-align: center;
	vertical-align: middle;
}

.menu_button {
	font:22px Arial, Sans-serif;
	margin-top: 15px;
	border-radius: 20%;
	cursor: hand;
	top: 10px;
	border:2px solid #2E0071;
	width: 130px;
	background-color: #FFF4BE;
	padding: 10px;
	top: 10px;
	position: relative;
	cursor:pointer;
}

.container {
	font-family: 'Roboto', sans-serif;
  	color: #404040;
	background-color: #FFCF00;
	position: relative;
	left: 20%;
	margin-left:-40px;
	width: 950px;
	height: 600px;
}

.header {
	width: 950px;
	height: 50px;
	position: relative;
}

h1 {
	text-align: center;
	margin-top: 0px;
}


h2 {
	text-align: center;
}

.options_box {
	width: 500px;
	height: 400px;
	border: 1px solid black;
	background-color: #98ABB3;
	overflow-y: auto;
}

.options_box span {
	text-align: left;
	margin-left: 0px;
}

.line_name {
	font:16px Arial, Sans-serif;
	font-weight: bold;
	margin-left: 5px;
}

.rank_line {
	background: #98ABB3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#98ABB3, #C4C8CA); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#98ABB3, #C4C8CA); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#98ABB3, #C4C8CA); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#98ABB3, #C4C8CA); /* Standard syntax */
    height: 50px;
}


.rank_current {
	background: #FF5C24; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FF5C24, #C53200); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FF5C24, #C53200); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FF5C24, #C53200); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FF5C24, #C53200); /* Standard syntax */
    height: 50px;
}


.rank_player {
	font:22px Arial, Sans-serif;
}

.rank_box {
	width: 500px;
	height: 500px;
	overflow-y: auto;
}

.rank_line ul {
	list-style: none;
		margin-top: 0px;
	margin-bottom: 0px;
}

.rank_current ul {
	list-style: none;
		margin-top: 0px;
	margin-bottom: 0px;
}


.rank_line ul li {
	margin-top: 0px;
	margin-bottom: 0px;
}

.rank_current ul li {
	margin-top: 0px;
	margin-bottom: 0px;
	color: white;
}

.submit {
	font:22px Arial, Sans-serif;
	border-radius: 20%;
	cursor: hand;
	margin-top: 20px;
	border:1px solid #2E0071;
	width: 100px;
	background: #98ABB3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#98ABB3, #C4C8CA); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#98ABB3, #C4C8CA); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#98ABB3, #C4C8CA); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#98ABB3, #C4C8CA); /* Standard syntax */
	cursor:pointer;
}

.game_button{
	font:16px Arial, Sans-serif;
	border-radius: 20%;
	margin-left: 10px;
	cursor: hand;
	border:1px solid #2E0071;
	width: 80px;
	background: #FFCF00; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FFCF00, #C4C8CA); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFCF00, #C4C8CA); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFCF00, #C4C8CA); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFCF00, #C4C8CA); /* Standard syntax */
	cursor:pointer;
}


.option_one ul {
	list-style: none;
	margin-top: 2px;
}

.option_one li {
	float: left;
}

.option_two ul {
	list-style: none;
	margin-top: 2px;
}

.option_two li {
	float: left;
}

.option_one {
	padding: 3%;
	background-color: #C4C8CA;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	position: relative;
	list-style: none;
	font-family: 50px Arial , sans-serif;
}

.option_two{
	padding: 3%;
	background-color: #98ABB3;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	position: relative;
	list-style: none;
	font-family: 20px Arial, sans-serif;
}

#questions_box {
	float: left;
	width: 550px;
	height: 480px;
	margin: 20px 20px 20px 40px;
	background-color: #23A0E3;
}

.question {
	background-color: red;
	display: inline;
	margin: 30;
}

.box_name {
	width:200px;
}

.instructions {
	.float: right;
	margin-top: 0px;
	margin-left: 10px;
	color: #B80019;
	position: absolute;
	z-index: +2;
	margin: 0 auto;
	left: 70%;
	top: 2%;
}

#game_name {
	font:18px Arial, Sans-serif;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 5px;
	text-align: left;
}

.progress {
	float: right;
    width: 20px;
    height: 480px;
    background-image: url("images/progress.png");
    margin: 20px 50px 20px 20px;
    position: relative;
}


.score {
	float: right;
    width: 100px;
    height: 230px;
    margin: 10% 80px 20px 20px;
    position: relative;
}

.score div {
	width: 40px;
    height: 40px;
    padding: 20px;
    background-color: white;

}

.coin {
	font-weight: bold;
	border-radius: 50%;
	border:5px solid #cfdcec;
    overflow:hidden;
    box-shadow: 0 0 3px gray;
	color: #000066;
	text-decoration: none;
	background-repeat: no-repeat;
	display: block;
	text-align: center;
	cursor:pointer;
}


.large {
	width: 120px;
	height: 120px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	font-family: 50px Arial, sans-serif;
	font:22px Arial, Sans-serif;
}

.right_answer {
	margin-top: 10px;
	color: #5F8F00;
	font-family: 100px Arial, sans-serif;
}

.wrong_answer {
	margin-top: 10px;
	color: #B80019;
	font-family: 100px Arial, sans-serif;
}

.lost {
	margin-top: 10px;
	color: #002eff;
	font-family: 100px Arial, sans-serif;
}


.partially {
	margin-top: 10px;
	color: #FFCF00;
	font-family: 100px Arial, sans-serif;
}

.medium {
	font:20px Arial, Sans-serif;
	width: 95px;
	height: 90px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.small {
	font:16px Arial, Sans-serif;
	width: 60px;
	height: 60px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.qst_enable {
    background: white; 
}

.qst_disabled {
    background: gray;
}


#questions_box ul {
	width: 550px;
	height: auto;
	position: relative;
	left: 0px;
}

#questions_box ul li {
	float: left;
	list-style: none;
}


#singleplayer {
	width: 50px;
	height: 50px;
	position: absolute;
	top:430px;
	left: -13px;
	background-image: url("images/player.png");
	position: absolute;
}

.content {
	width: 450px;
	height: 500px;
	background-color: white;
	position: absolute;
	z-index: +2;
	margin: 0 auto;
	left: 25%;
	top: 10%;
	border:1px solid black;
	overflow-y: auto;
}


.box_instructions {
	width: 450px;
	height: 500px;
	background-color: white;
	position: absolute;
	z-index: +3;
	margin: 0 auto;
	left: 25%;
	top: 10%;
	border:1px solid black;
	overflow-y: auto;
	display: none;
}

.enunciation {
	font:20px Arial, Sans-serif;
	text-align: justify;
	margin-left: 20px;
	margin-right: 20px;
}

#lost {
	width: 450px;
	height: 500px;
	background-color: white;
	position: absolute;
	z-index: +2;
	margin: 0 auto;
	left: 25%;
	top: 10%;
	border:1px solid black;
}

#win {
	width: 450px;
	height: 500px;
	background-color: white;
	position: absolute;
	z-index: +2;
	margin: 0 auto;
	left: 25%;
	top: 10%;
}

#logout {
	width: 50px;
	height: 50px;
	position: absolute;
	z-index: +2;
	margin: 0 auto;
	left: 93%;
	top: 5%;
	cursor:pointer;
}


#exit{
	position: absolute;
	z-index: +2;
	margin: 0 auto;
	left: 93%;
	top: 2%;
	color: #B80019;
	cursor:pointer;
}

.answer img {
	width: 150px;
	height: 150px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.loose {
	margin-top: 10px;
	color: #B80019;
	text-align: center;
	font-family: 100px Arial, sans-serif;
}

.right {
	font:18px Arial, Sans-serif;
	border-radius: 20%;
	cursor: hand;
	margin-top: 20px;
	border:1px solid #2E0071;
	width: 100px;
	background-color: #FFCF00;
	cursor:pointer;
}

.wrong {
	font:18px Arial, Sans-serif;
	border-radius: 20%;
	cursor: hand;
	margin-top: 20px;
	border:1px solid #2E0071;
	width: 100px;
	background-color: #FFCF00;
	cursor:pointer;
}

.home {
	font:18px Arial, Sans-serif;
	border-radius: 20%;
	cursor: hand;
	margin-top: 20px;
	border:1px solid #2E0071;
	width: 100px;
	background-color: #FFCF00;
	cursor:pointer;
}


.continue {
	font:18px Arial, Sans-serif;
	border-radius: 20%;
	cursor: hand;
	margin-top: 20px;
	border:1px solid #2E0071;
	width: 100px;
	background-color: #FFCF00;
	cursor:pointer;
}

.empty {
	font:18px Arial, Sans-serif;
	border-radius: 20%;
	cursor: hand;
	margin-top: 20px;
	border:1px solid #2E0071;
	width: 100px;
	background-color: #FFCF00;
	cursor:pointer;
}

.new_game {
	display: none;
}

.associate_game {
	display: none;
}


.new_button {
	font:22px Arial, Sans-serif;
	margin-top: 15px;
	border-radius: 20%;
	cursor: hand;
	top: 10px;
	border:2px solid #2E0071;
	width: 130px;
	background-color: #FFF4BE;
	padding: 10px;
	top: 10px;
	position: relative;
	cursor:pointer;
}


.associate_button {
	font:22px Arial, Sans-serif;
	margin-top: 15px;
	border-radius: 20%;
	cursor: hand;
	top: 10px;
	border:2px solid #2E0071;
	width: 130px;
	background-color: #FFF4BE;
	padding: 10px;
	top: 10px;
	position: relative;
	cursor:pointer;
}